body{
    background-color: darkorange;
}
.main{
    margin:20px;
    width:50%;
    justify-content: flex-end;
}
.leg_div{
    margin-bottom:20px;
}
button{
    justify-content: center;
}